﻿@model curs.Models.Service.ServiceCreateModel

@{
    ViewBag.Title = "Create";
}
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Create Service</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-3">
                                        @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "btn btn-secondary"})
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                               </div>
                                }
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>
