﻿@model ErrorViewModel
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-code">@Model.Code</div>
<div class="error-message">@Model.Message</div>
<div class="button-place">
    <a href="/Home/Index" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
</div>

