﻿@model IEnumerable<curs.Models.Service.Service>

@{
    ViewBag.Title = "Index";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">

            <!--SEARCH-->
            <div class="col-lg-12 hidden" id="search-col">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Search option</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" id="search-form">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInput" name="Title" type="text" placeholder="Title" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-glass"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">
                                            <select class="form-control">
                                                <option value="1" selected>=</option>
                                                <option value="2">></option>
                                                <option value="3"><</option>
                                            </select>
                                        </span>
                                        <input id="inlineFormInputGroup" data-search-type="Price" name="Price" type="number" step="0.01" placeholder="Price" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="submit" value="Submit" class="mx-sm-3 btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--SEARCH-->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Services</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @if (User.IsInRole("mainadministrator"))
                            {
                                <a href="/Services/Create" class="btn btn-secondary btn-sm"><i class="fa fa-plus-square"></i> Create New |</a>
                                <a href="/Services/Export" class="btn btn-secondary btn-sm"><i class="fa fa-file-text-o"></i> Export |</a>
                            }
                            <a href="" id="search-button" class="btn btn-secondary btn-sm"><i class="fa fa-spinner"></i> Find</a>
                        </p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @if (User.IsInRole("mainadministrator"))
                                            {
                                                @Html.ActionLink("Edit |", "Edit", new { id = item.Id }) 
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            }
                                        </td>
                                    </tr>
                                            }
                            </tbody>
                        </table>
                        <p class="loading-img hidden"><img src="~/Content/img/Wedges.gif" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Scripts/search-record.js"></script>
    <script src="~/Scripts/order-records.js"></script>

    <script type="text/html" id="record">
        <tr>
            <td>
                [Title]
            </td>
            <td>
                [Price]
            </td>
            <td>
                <a href="/Services/Edit/[Id]">Edit</a> |
                <a href="/Services/Details/[Id]">Details</a> |
                <a href="/Services/Delete/[Id]">Delete</a>
            </td>
        </tr>
    </script>
}
