﻿@model curs.Models.Request.RequestCreateModel

@{
    ViewBag.Title = "Create";
}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Create Reservation</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-horizontal">
                                
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Name, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Surname, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Phonenumber, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Phonenumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Email, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Country, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Country, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Locality, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Locality, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Locality, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Address, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Client.Index, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Client.Index, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Index, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ArrivalDate, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AdultCount, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.AdultCount, new { htmlAttributes = new { @class = "form-control", min = 1 } })
                                        @Html.ValidationMessageFor(model => model.AdultCount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ChildCount, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ChildCount, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                                        @Html.ValidationMessageFor(model => model.ChildCount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AllowedRoomTypes, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.RoomTypeId, Model.AllowedRoomTypes, "Select a room type", htmlAttributes: new { @class = "form-control", id = "roomTypeId" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AllowedRooms, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.RoomIds, Model.AllowedRooms, "Select a room", htmlAttributes: new { @class = "form-control", id = "roomId", @multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AllowedServices, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.ServiceIds, Model.AllowedServices, "Select a services", htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-3">
                                        @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "btn btn-secondary" })
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="~/Scripts/create-request.js"></script>
}
