﻿@model IEnumerable<curs.Models.Request.Request>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("mainadministrator"))
{
    <section class="charts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="line-chart-example card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4"><i class="fa fa-area-chart"></i> Incomes</h3>
                            <img src="~/Content/img/Wedges.gif" class="hidden" />
                            <input id="incomeYear" type="number" value="2017" placeholder="Year" class="form-control">
                        </div>
                        <div class="card-body">
                            <p class="loading-img"><img src="~/Content/img/Wedges.gif" /></p>
                            <canvas class="hidden" id="incomsChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="line-chart-example card no-margin-bottom">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4"><i class="fa fa-bar-chart"></i> Clients count</h3>
                            <img src="~/Content/img/Wedges.gif" class="hidden" />
                            <input id="clientYear" type="number" value="2017" placeholder="Year" class="form-control">
                        </div>
                        <div class="card-body">
                            <p class="loading-img"><img src="~/Content/img/Wedges.gif" /></p>
                            <canvas class="hidden" id="clientsChart"></canvas>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
}



<section class="tables">
    <div class="container-fluid">
        <div class="row">

            <!--SEARCH-->
            <div class="col-lg-12 hidden" id="search-col">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-search"></i> Search option</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" id="search-form">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">
                                            <select class="form-control">
                                                <option value="1">Year</option>
                                                <option value="2">Year.Month</option>
                                                <option value="3">Year.Month.Day</option>
                                                <option value="4" selected>Full date</option>
                                            </select>
                                        </span>
                                        <input id="inlineFormInput" name="ArrivalDate" type="datetime" placeholder="ArrivalDate" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">
                                            <select class="form-control">
                                                <option value="1">Year</option>
                                                <option value="2">Year.Month</option>
                                                <option value="3">Year.Month.Day</option>
                                                <option value="4" selected>Full date</option>
                                            </select>
                                        </span>
                                        <input id="inlineFormInputGroup" name="DepartureDate" type="datetime" placeholder="DepartureDate" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">
                                            <select class="form-control">
                                                <option value="1">Year</option>
                                                <option value="2">Year.Month</option>
                                                <option value="3">Year.Month.Day</option>
                                                <option value="4" selected>Full date</option>
                                            </select>
                                        </span>
                                        <input id="inlineFormInputGroup" name="ReservationDate" type="datetime" placeholder="ReservationDate" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <label for="inlineFormInputGroup" class="sr-only">Adult</label>
                                        <input id="inlineFormInputGroup" name="Adult" type="number" min="1" placeholder="Adult" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-male"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <label for="inlineFormInputGroup" class="sr-only">Child</label>
                                        <input id="inlineFormInputGroup" name="Child" type="number" min="0" placeholder="Child" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-child"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInputGroup" name="ClientEmail" type="email" placeholder="Client Email" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInputGroup" name="WorkerEmail" type="email" placeholder="Worker Email" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">
                                            <select class="form-control">
                                                <option value="1" selected>=</option>
                                                <option value="2">></option>
                                                <option value="3"><</option>
                                            </select>
                                        </span>
                                        <input id="inlineFormInputGroup" data-search-type="Price" name="Price" type="number" step="0.01" placeholder="Price" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <select name="RoomTypeIds" data-search-type="Select" class="form-control" multiple>
                                            @foreach (curs.Models.RoomType.RoomType rt in ViewBag.RoomTypes)
                                            {
                                                <option value="@rt.Id">@rt.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Submit" class="mx-sm-3 btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--SEARCH-->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-th"></i> Reservations</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @if (User.IsInRole("administrator"))
                            {
                                <a href="/Requests/Create" class="btn btn-secondary btn-sm"><i class="fa fa-plus-square"></i> Create New</a>
                                <a href="/Requests/Export" class="btn btn-secondary btn-sm"><i class="fa fa-file-text-o"></i> Export</a>
                            }
                            
                            
                            <a href="" id="search-button" class="btn btn-secondary btn-sm"><i class="fa fa-spinner"></i> Find</a>
                        </p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.ArrivalDate)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.DepartureDate)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.ReservationDate)
                                    </th>
                                    <th data-order="">
                                        ClientSurname
                                    </th>
                                    <th data-order="">
                                        WorkerSurname
                                    </th>
                                    <th data-order="">
                                        TotalPrice
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ArrivalDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepartureDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReservationDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Client.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Worker.Surname)
                                        </td>
                                        <td>
                                            @{
                                                var totalDay = (item.DepartureDate.Day - item.ArrivalDate.Day);
                                                var sum = (item.OrderedRoomTypes.Sum(rt => rt.Price) + item.Services.Sum(s => s.Price)) * totalDay;
                                            }
                                            @sum
                                            $
                                        </td>
                                        <td>
                                            @if (User.IsInRole("administrator"))
                                            {
                                                @Html.ActionLink("Edit |", "Edit", new { id = item.Id })
                                                @Html.ActionLink("Delete |", "Delete", new { id = item.Id })
                                            }
                                            
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                            
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                        <p class="loading-img hidden"><img src="~/Content/img/Wedges.gif" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create statistics document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="radio" name="statisticsType" value="Year" checked/>Year
                    <input type="radio" name="statisticsType" value="Month" />Month<br />
                    Year
                    <input type="number" name="year" min="2000" value="@DateTime.Now.Year" /><br />
                    Month
                    <input type="text" name="month" value="@DateTime.Now.Month" disabled/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="sendStatistics" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/request-statistics.js"></script>
<script src="~/Scripts/search-record.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Scripts/flatpicker-custom.js"></script>
    <script src="~/Scripts/order-records.js"></script>
    <script src="~/Scripts/statistics-pdf.js"></script>
    

    <script type="text/html" id="record">
        <tr>
            <td>
                [ArrivalDate]
            </td>
            <td>
                [DepartureDate]
            </td>
            <td>
                [ReservationDate]
            </td>
            <td>
                [Client]
            </td>
            <td>
                [Worker]
            </td>
            <td>
                [Total]
            </td>
            <td>
                <a href="/Requests/Edit/[Id]">Edit</a> |
                <a href="/Requests/Details/[Id]">Details</a> |
                <a href="/Requests/Delete/[Id]">Delete</a>
            </td>
        </tr>
    </script>
}
