﻿@model curs.Models.Request.Request

@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-bed"></i> Reservations Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ArrivalDate)
                                    </th>


                                    <td>
                                        @Html.DisplayFor(model => model.ArrivalDate)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartureDate)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartureDate)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReservationDate)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.ReservationDate)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdultCount)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.AdultCount)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChildCount)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.ChildCount)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Rooms
                                    </th>
                                    <td>
                                        <ul>
                                            @foreach (var room in Model.Rooms)
                                            {
                                                <li>
                                                    @room.Number
                                                    -
                                                    @Model.OrderedRoomTypes.Where(rt => room.RoomType.Id == rt.RoomType.Id).FirstOrDefault().Title
                                                    @Model.OrderedRoomTypes.Where(rt => room.RoomType.Id == rt.RoomType.Id).FirstOrDefault().Price
                                                    $
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Services
                                    </th>
                                    <td>
                                        <ul>
                                            @foreach (var service in Model.Services)
                                            {
                                                <li>
                                                    @service.Title
                                                    -
                                                    @service.Price
                                                    $
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total Price
                                    </th>
                                    <td>
                                        @{
                                            var totalDay = (Model.DepartureDate - Model.ArrivalDate).TotalDays;
                                            var sum = (Model.OrderedRoomTypes.Sum(rt => rt.Price) + Model.Services.Sum(s => s.Price)) * totalDay;
                                        }
                                        @sum
                                        $
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-address-card-o"></i> Client Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Name)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Surname)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Surname)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Email)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Phonenumber)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Phonenumber)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Country)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Country)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Locality)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Locality)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Address)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Address)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Index)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Index)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-user-circle-o"></i> Worker Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Worker.Name)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Worker.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Worker.Surname)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Worker.Surname)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Email)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client.Phonenumber)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Client.Phonenumber)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


