﻿@model curs.Controllers.StatisticModel
@{
    ViewBag.Title = "Statistic";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">

            <!--SEARCH-->
            <div class="col-lg-12" id="search-col">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-search"></i> Get Statistic</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm()) { 
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group col-md-12">
                                    <span class="input-group-addon">
                                        @Html.EnumDropDownListFor(model => model.DateType, new { @class = "form-control" })
                                    </span>
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="mx-sm-3 btn btn-primary">
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" id="statistic-result">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"> Statistic</h3>
                    </div>
                    <h1>Select option to get statistic</h1>
                    <p class="loading-img hidden"><img src="~/Content/img/Wedges.gif" /></p>
                    <div class="card-body row hidden">
                        <table class="table">
                            <tr>
                                <th>Total Spent</th>
                                <td id="total-spent-td"></td>
                            </tr>
                            <tr>
                                <th>Clients Count</th>
                                <td id="total-clients-td"></td>
                            </tr>
                        </table>
                        <div class="col-lg-12">
                            <div class="line-chart-example card no-margin-bottom">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4"> Room types statistic</h3>
                                    <img src="~/Content/img/Wedges.gif" class="hidden" />
                                </div>
                                <div class="card-body">
                                    <canvas class="hidden" id="roomTypeChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-chart-example card no-margin-bottom">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Services statistic</h3>
                                    <img src="~/Content/img/Wedges.gif" class="hidden" />
                                </div>
                                <div class="card-body">
                                    <canvas class="hidden" id="serviceChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Scripts/flatpicker-custom.js"></script>
    <script src="~/Scripts/statistic-load.js"></script>
}
