﻿@model curs.Controllers.StatisticViewModel
@{
    ViewBag.Title = "Statistic";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12" id="search-col">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-search"></i> Statistic</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Total Spent</th>
                                <td>@Model.Spent $</td>
                            </tr>
                            <tr>
                                <th>Clients Count</th>
                                <td>@Model.Clients</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Scripts/flatpicker-custom.js"></script>
}
