﻿@model curs.Models.Client.Client

@{
    ViewBag.Title = "Details";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-address-card-o"></i> Client Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Surname)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phonenumber)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Phonenumber)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Country)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Locality)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Locality)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Address)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Index)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Index)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            @if (User.IsInRole("administrator"))
                            {
                                @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
                            }
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

