﻿.fa-bar-chart, .fa-area-chart, .fa-th, .fa-search {
    font-size: 30px;
}

.fa-bar-chart {
    color: rgba(255, 0, 0, 0.5);
}

.fa-area-chart {
    color: rgba(60, 186, 159, 0.50);
}

div[class*='line-chart'] h3 {
    font-family: 'Inknut Antiqua', serif;
}

.card .card-header h3 {
    font-family: 'Inknut Antiqua', serif;
}

#incomeYear, #clientYear {
    position: absolute;
    right:10px;
    text-align:center;
    padding: 2px;
    width: 70px;
}

.line-chart-example .card-header img {
    text-align: center;
    position:absolute;
    right:80px;
    width:50px !important;
    height:50px !important;
}

#statistic-result .card > h1{
    text-align: center;
    margin: 30px 0;
}

