﻿@model curs.Models.Room.Room

@{
    ViewBag.Title = "Delete";
}

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-address-card-o"></i> Delete service</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.Number)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RoomType.Title)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.RoomType.Title)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RoomType.Price)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.RoomType.Price)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsFree)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.IsFree)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

