﻿@model curs.Models.Identity.CreateWorker

@{
    ViewBag.Title = "Create";
}
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Create Worker</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="line"></div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.RoleIds, Model.Roles, "Select role", htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                        @Html.ValidationMessageFor(model => model.RoleIds, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                

                                    <div class="form-group row">
                                        <div class="col-sm-4 offset-sm-3">
                                            @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "btn btn-secondary" })
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
