﻿@model curs.Models.Worker.Worker

@{
    ViewBag.Title = "Details";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><i class="fa fa-address-card-o"></i> Worker Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.Surname)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.UserName)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Roles
                                    </th>

                                    <td>
                                        <ul>
                                            @foreach (var role in Model.Roles)
                                            {
                                                <li>@role.RoleId</li>
                                            }
                                        </ul>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

