﻿@model IEnumerable<curs.Models.Worker.Worker>

@{
    ViewBag.Title = "Index";
}
<section class="tables">
    <div class="container-fluid">
        <div class="row">

            <!--SEARCH-->
            <div class="col-lg-12 hidden" id="search-col">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Search option</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" id="search-form">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInput" name="Name" type="text" placeholder="Name" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-address-book-o"></i></span>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInput" name="Surname" type="text" placeholder="Surname" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-address-book-o"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInput" name="Email" type="email" placeholder="Email" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input id="inlineFormInput" name="PhoneNumber" type="text" placeholder="PhoneNumber" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group col-md-12">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--SEARCH-->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Workers</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <a href="/Workers/Create" class="btn btn-secondary btn-sm"><i class="fa fa-plus-square"></i> Create New</a> |
                            <a href="/Workers/Export" class="btn btn-secondary btn-sm"><i class="fa fa-file-text-o"></i> Export</a> |
                            <a href="" id="search-button" class="btn btn-secondary btn-sm"><i class="fa fa-spinner"></i> Find</a>
                        </p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>                                  
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th data-order="">
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p class="loading-img hidden"><img src="~/Content/img/Wedges.gif" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Scripts/search-record.js"></script>
    <script src="~/Scripts/order-records.js"></script>

    <script type="text/html" id="record">
        <tr>
            <td>
                [Name]
            </td>
            <td>
                [Surname]
            </td>
            <td>
                [Email]
            </td>
            <td>
                [PhoneNumber]
            </td>
            <td>
                [UserName]
            </td>
            <td>
                <a href="/Workers/Edit/[Id]">Edit</a> |
                <a href="/Workers/Details/[Id]">Details</a> |
                <a href="/Workers/Delete/[Id]">Delete</a>
            </td>
        </tr>
    </script>
}




