﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Waves Effect Css -->
    <link href="~/Content/error/waves.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/error/style.css" rel="stylesheet">
</head>
<body class="four-zero-four">
    <div class="four-zero-four-container">
        @RenderBody()
        
    </div>
    <!-- Jquery Core Js -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/error/waves.js"></script>
</body>
</html>