﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/style.sea.css" id="theme-stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">

    <script src="~/Scripts/jquery/jquery.min.js"></script>
</head>
<body>
    <div class="page home-page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
                                <div class="brand-text brand-big"><span>Hotel </span><strong>Dashboard</strong></div>
                                <div class="brand-text brand-small"><strong>HD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Logout    -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">@User.Identity.Name</li>
                                <li class="nav-item"><a href="/Workers/Logout" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a href="/Workers/Login" class="nav-link logout">Login<i class="fa fa-sign-out"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <ul class="list-unstyled">
                    <li><a href="/Requests/Index"><i class="fa fa-server"></i> Requests</a></li>
                    <li><a href="/Clients/Index"><i class="fa fa-address-book-o"></i> Clients</a></li>
                    @if (User.IsInRole("mainadministrator"))
                    {
                        <li><a href="/Workers/Index"><i class="fa fa-address-card-o"></i> Workers</a></li>
                    }
                    <li><a href="/Rooms/Index"><i class="fa fa-server"></i> Rooms</a></li>
                    <li><a href="/Services/Index"><i class="fa fa-cutlery"></i> Services</a></li>
                    <li><a href="/RoomTypes/Index"><i class="fa fa-bed"></i> Room Types</a></li>
                    @if (User.IsInRole("mainadministrator"))
                    {
                        <li><a href="/Requests/Statistic"><i class="fa fa-address-card-o"></i> Statistic</a></li>
                    }
                </ul>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Dashboard</h2>
                    </div>
                </header>
                @RenderBody()
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Your company &copy; 2017-2019</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- Javascript files-->
    <script src="~/Scripts/popper.js/umd/popper.js"> </script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/front.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
